.calendar {

  display: grid;

  grid-template-columns:
    repeat(7, 1fr);

  gap: 10px;

  margin-top: 20px;
}

.weekDay {

  text-align: center;

  font-weight: bold;

  padding: 10px;

  color: #0b1a3d;
}

.dayBox {

  background: white;

  border-radius: 14px;

  min-height: 110px;

  padding: 10px;

  box-shadow:
    0 4px 12px rgba(0,0,0,0.08);

  transition: 0.2s;
}

.dayBox:hover {

  transform: scale(1.02);
}

.dayNumber {

  font-size: 22px;

  font-weight: bold;

  color: #0b1a3d;
}

.emptyDay {

  min-height: 110px;
}

.calendarHeader {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 20px;

  margin-bottom: 20px;
}

.calendarHeader button {

  width: 45px;

  height: 45px;

  border: none;

  border-radius: 50%;

  background: white;

  font-size: 22px;

  cursor: pointer;

  box-shadow:
    0 4px 12px rgba(0,0,0,0.1);
}

.calendarHeader h2 {

  font-size: 42px;

  color: #0b1a3d;
}
.calendarType {

  margin-top: 10px;

  font-size: 13px;

  font-weight: bold;

  color: white;
}

.dayBox {

  color: white;
}

.dayNumber {

  color: white;
}